.DS_Store
semantic.cache
bin/
target/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/swo.owl
src/ontology/swo.obo
src/ontology/swo.json
src/ontology/swo-base.*
src/ontology/swo-basic.*
src/ontology/swo-full.*
src/ontology/swo-simple.*
src/ontology/swo-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-swo-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt

build/
.DS_Store
